Lenguaje de marcas/3 EV/SCHEMAS/Ejercicios XSD/xsd y dtd/ejercicio6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
  <xs:element name="Recetario">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Autor" type="xs:string"/>
        <xs:element name="Receta" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Nombre" type="xs:string"/>
              <xs:element name="Origen" type="xs:string" minOccurs="0"/>
              <xs:element name="Ingredientes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Ingrediente" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="NombreI" type="xs:string"/>
                          <xs:element name="Cantidad" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="medida" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Elaboracion">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Paso" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Referencia" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="dificultad" type="xs:string" use="required"/>
            <xs:attribute name="coste" type="xs:string" use="required"/>
            <xs:attribute name="NivelCalorias" type="xs:string" use="required"/>
            <xs:attribute name="tipo" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Fecha" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
