Lenguaje de marcas/3 EV/SCHEMAS/Ejercicios XSD/xsd y dtd/ejercicio7.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="CD">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="artista" type="xs:string"/>
        <xs:element name="titulo" type="xs:string"/>
        <xs:element name="sello" type="xs:string"/>
        <xs:element name="referencia" type="xs:string"/>
        <xs:element name="anyo" type="xs:short"/>
        <xs:element name="pais" type="xs:string"/>
        <xs:element name="formato" type="xs:string"/>
        <xs:element name="observaciones" type="xs:string" minOccurs="0"/>
        <xs:element name="genero" type="xs:string" maxOccurs="unbounded"/>
        <xs:element name="estilo" type="xs:string" maxOccurs="unbounded"/>
        <xs:element name="canciones">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="contenido_cd" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cancion" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="titulo" type="xs:string"/>
                          <xs:element name="duracion">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="minutos" type="xs:short"/>
                                <xs:element name="segundos" type="xs:short"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="numero" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="numero" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
